<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- Required for SMS -->
    <!--
    Note: Since API 23 (Android 6) it is necessary to request also on runtime
    -->
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- Required for getprop command -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Required to get system, secure and global settings -->
    <!--
    Note: Since API 23 (Android 6) it is necessary to request also on runtime
    -->
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!-- Required to get processes -->
    <!--
    Note: Since API 23 (Android 6) it is necessary to request also on runtime
    Note: Since API 29 (Android 10), GET_TASK is deprecated. RoleManager system service and
    ROLE_ASSISTANT could replace it (?)
    -->
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- Required to get services -->
    <uses-permission android:name="android.permission.DUMP"
        tools:ignore="ProtectedPermissions" />

    <!-- Required to get logcat -->
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.READ_FRAME_BUFFER"
        tools:ignore="ProtectedPermissions" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Apkqf"
        tools:targetApi="16">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>